.searchbarOptions-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid #1a1a1a;
  height: 15rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
}

.search-row {
  padding: 0.5rem;
}

.search-selected {
  background-color: #eeeeee;
}
