#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fdfdfd;
}

.app-container {
  display: flex;
  flex-direction: column;

  /*width: 100%;*/
}

.title {
  align-self: center;
}